<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgp.dao.master.token.TokenDao">
    <parameterMap id="TokenInfoEntity" type="com.lgp.entity.token.TokenInfoEntity"/>
    <resultMap id="BaseResultMapToken" type="com.lgp.entity.token.TokenInfoEntity">
        <result column="ati_id" property="id" />
        <result column="ati_app_id" property="appId" />
        <result column="ati_token" property="token"/>
        <result column="ati_build_time" property="buildTime"/>
    </resultMap>
    <sql id="Base_Column_List_Token">
		ati_id, ati_app_id, ati_token, ati_build_time
	</sql>
    <parameterMap id="UserInfoEntity" type="com.lgp.entity.token.UserInfoEntity"/>
    <resultMap id="BaseResultMapUser" type="com.lgp.entity.token.UserInfoEntity">
        <result column="aui_app_id" property="appId" />
        <result column="aui_app_secret" property="appSecret" />
        <result column="aui_status" property="status"/>
        <result column="aui_day_request_count" property="dayRequestCount"/>
        <result column="aui_ajax_bind_ip" property="ajaxBindIp"/>
        <result column="aui_mark" property="mark"/>
    </resultMap>
    <sql id="Base_Column_List_User">
		aui_app_id, aui_app_secret, aui_status, aui_day_request_count, aui_ajax_bind_ip, aui_mark
	</sql>

    <select id="getTokenInfoByAppId" resultMap="BaseResultMapToken" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List_Token"/>
        from api_token_infos
        where ati_app_id = #{appId, jdbcType=VARCHAR}
    </select>

    <select id="getUserInfoByAppId" resultMap="BaseResultMapUser" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List_User"/>
        from api_user_infos
        where aui_app_id = #{appId, jdbcType=VARCHAR}
    </select>

    <update id="updateTokenInfo" parameterType="com.lgp.entity.token.TokenInfoEntity">
        update api_token_infos
        set ati_token = #{token, jdbcType=BLOB},
        ati_build_time = #{buildTime, jdbcType=VARCHAR}
        where ati_id = #{id, jdbcType=INTEGER}
    </update>
    <insert id="saveTokenInfo" parameterType="com.lgp.entity.token.TokenInfoEntity">
        insert into api_token_infos
        (ati_app_id, ati_token, ati_build_time)
        values (#{appId, jdbcType=INTEGER},#{token, jdbcType=BLOB},#{buildTime, jdbcType=VARCHAR})
    </insert>
</mapper>